//
   Created by Yu Yiwei on 2016/5/15.
.bottom-bar
    .section
        label
            img(src="/images/icons/frontpage.png")
        label 首页
    .section
        label
            img(src="/images/icons/focus.png")
        label 关注
    .section
        label
            img(src="/images/icons/me.png")
        label 我的
