//
   Created by Yu Yiwei on 2016/5/15.
.bottom-bar
    .section
        label
            a(href="/")
                img(src="/images/icons/frontpage.png")
        label
            a(href="/") 首页
    .section
        label
            img(src="/images/icons/focus.png")
        label 关注
    .section
        label
            a(href="/create_story")
                img(src="/images/icons/new.png")
        label 创作
    .section
        label
            a(href="/mypage")
                img(src="/images/icons/me.png")
        label
            a(href="/mypage") 我的
