doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/YLnovel.css')
      meta(charset = "utf-8")
      meta(name="viewport",content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
      meta(name="apple-mobile-web-app-capable",content="yes")
    block script
      script(src="/javascripts/iscroll.js")
      script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
  body
    block content
    block pagescript
