$main-color:#24C1EF; //界面主色
$gray:#E6E6E6;
$light-gray:#959595;//图标颜色
$font-color:#5D5D5F;
html, body ,li ,ul{
  margin:0;
  padding:0;
  overflow-x: hidden;
  height:100%;
}

li{
  list-style: none;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.body-container{
  .front-head{
    height: 50px;
    background: $main-color;
    .title{
      padding-top:15px;
      margin:0 auto;
      width: 50px;
      color: #ffffff;
      letter-spacing: 5px;
      padding-left: 6px;
      font-weight: 600;

    }
    .search{
      float: right;
      margin-top: -25px;
      margin-right:15px;
      img{
        width: 26px;
      }
    }
  }
  .category-bar{

  }
  //故事
  .story-container{
    margin-bottom: 40px;
    .story{
      border-bottom: 7px solid $gray;
      .info-bar{
        height: 45px;
        .category-label{
          float: left;
          width: 45px;
          height: 21px;
          border-radius: 35px;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
          line-height: 21px;
          font-weight: 600;
          margin-left: 10px;
          //此处对不同分类应该有不同的标签颜色
          &.label-science{     //科幻
            margin-top: 11px;
            background: #96D6B6;
          }
        }
        .title{
          float: left;
          margin-top: 10px;
          margin-left: 10px;
          width: 180px;
          color:$font-color;
          font-size: 16px;
          font-weight:500;
          overflow: hidden;
          text-overflow:ellipsis;
        }
        .author{
          float: right;
          margin-top: 10px;
          width: 110px;

          img{
            width: 25px;
            height: 25px;
          }
          label{
            position: relative;
            top: -5px;
            display: inline-block;
            margin-left: 5px;
            width: 75px;
            color: $light-gray;
            font-size: 14px;
            overflow: hidden;

          }
        }
      }
      .content{
        height: 200px;
        img{
          height: 200px;
          width: 100%;
        }
      }
      .sub-info-bar{
        height: 40px;
        width:100%;
        line-height: 40px;
        .sub-title{
          float: left;
          width:56%;
          margin-left: 2%;

        }
       .comments{
         float: right;
         width: 42%;
         color: $light-gray;
         text-align: center;
         span{
           float: right;
           display: inline-block;
           margin-top: 2px;
           margin-right: 5px;
           &.comments{
             margin-left: 5px;
           }
         }
          img{
            width: 20px;
          }
         label{
           margin-left: 5px;
         }
         label.num{
           position: relative;
           top: -3px;
           display: inline-block;
           margin-left: 4px;
         }

        }
      }
    }
  }
  //底部菜单
  .bottom-bar{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 48px;
    background: #ffffff;
    border-top: 1px solid $gray;
    .section{
      margin-top: 4px;
      float: left;
      width:33%;
      text-align: center;
      label{
        display: block;
        font-size: 12px;
        color: $light-gray;
        img{
          width: 22px;
        }
      }

    }
  }


}