//
   Created by Yu Yiwei on 2016/5/22.
extends includes/layout

block content
    .create-page
        .create-head
            .btn-cancel 取消
            .title
                label 创作故事
                label 西飞白日
            .btn-commit 提交
        .input
            label
                textarea(placeholder="留下你的故事吧…",autofocus="autofocus")
