//
   Created by Yu Yiwei on 2016/5/22.
extends includes/layout
block append pagescript
    script.
        $(function () {
            $(".choose-classify").click(function(){
                $(".classify-bar").toggle();
            })
        })
block content
    .create-page
        .create-head
            .btn-cancel 取消
            .title
                label 创作故事
                label 西飞白日
            .btn-commit 提交
        .input
            label.story-title 故事标题
            label.story-title-input
                input(type="text")
            label
                textarea(placeholder="留下你的故事吧…",autofocus="autofocus")
        .btn
            .add-img +添加封面图片
            .choose-classify
                img(src="/images/icons/choose-theme.png")
                label 选择分类
            .save-draft
                img(src="/images/icons/save-drafts.png")
                label 保存草稿

            .clearfix
        //-隐藏弹出层
        .classify-bar
            .theme
                img(src="/images/icons/classify-science.png")
                label 科幻
            .theme
                img(src="/images/icons/classify-literature.png")
                label 文学
            .theme
                img(src="/images/icons/classify-kongfu.png")
                label 功夫
            .theme
                img(src="/images/icons/classify-history.png")
                label 历史
            .theme
                img(src="/images/icons/classify-love.png")
                label 言情
            .theme
                img(src="/images/icons/classify-originality.png")
                label 创意
            .theme
                img(src="/images/icons/classify-campus.png")
                label 校园
            .theme
                img(src="/images/icons/classify-other.png")
                label 其他
    include includes/bottom-menu