extends includes/layout

block content
  .body-container
    .front-head
      .title 首页

      .search
        img(src="/images/icons/search.png")

    .story-container
      .story
        .info-bar
          .category-label.label-science 科幻
          .title 最终进化
          .author
            img(src="/images/icons/author.png")
            label 木子木子
        .content
            img(src="/images/photos/science.jpg")
        .sub-info-bar
          .sub-title 现实主义的虚空
          .comments
            span.comments
              label
                  img(src="/images/icons/comments.png")
              label.num 3456
            span.zan
              label
                  img(src="/images/icons/zan.png")
              label.num 12345
      .story
          .info-bar
              .category-label.label-science 科幻
              .title 最终进化
              .author
                  img(src="/images/icons/author.png")
                  label 木子木子
          .content
              img(src="/images/photos/science.jpg")
          .sub-info-bar
              .sub-title 现实主义的虚空
              .comments
                  span.comments
                      label
                          img(src="/images/icons/comments.png")
                      label.num 3456
                  span.zan
                      label
                          img(src="/images/icons/zan.png")
                      label.num 12345
      .story
          .info-bar
              .category-label.label-science 科幻
              .title 最终进化
              .author
                  img(src="/images/icons/author.png")
                  label 木子木子
          .content
              img(src="/images/photos/science.jpg")
          .sub-info-bar
              .sub-title 现实主义的虚空
              .comments
                  span.comments
                      label
                          img(src="/images/icons/comments.png")
                      label.num 3456
                  span.zan
                      label
                          img(src="/images/icons/zan.png")
                      label.num 12345


    include includes/bottom-menu
            



