extends includes/layout
block append pagescript
    script(src ="./javascripts/refresh.js")
block content
  .body-container
    .front-head
      .title 首页

    .classify
        a(href="")
            img(src="/images/icons/classify-science.png")
            label 科幻
        a(href="")
            img(src="/images/icons/classify-literature.png")
            label 文学
        a(href="")
            img(src="/images/icons/classify-kongfu.png")
            label 功夫
        a(href="")
            img(src="/images/icons/classify-history.png")
            label 历史
        a(href="")
            img(src="/images/icons/classify-love.png")
            label 言情
        a(href="")
            img(src="/images/icons/classify-originality.png")
            label 创意
        a(href="")
            img(src="/images/icons/classify-campus.png")
            label 校园
        a(href="")
            img(src="/images/icons/classify-other.png")
            label 其他
    .clearfix
    .recommend
        .recommend-title
            label.title 今日推荐
            label.refresh 换一批
                img(src="/images/icons/refresh.png")
        .recommend-section
            .section
                img(src="/images/icons/recommend-1.jpg")
                label 生而平等
            .section
                img(src="/images/icons/recommend-2.jpg")
                label 钢琴舞斗家
            .section
                img(src="/images/icons/recommend-3.jpg")
                label 九尾妖狐
    .story-container
        each val in story
          .story
            .info-bar
              .category-label.label-science 科幻
              .title #{val.name}
              .author
                img(src="/images/icons/author.png" )
                label 13621684786
            .content
                a(href="/details")
                    img(src="/images/icons/recommend-2.jpg")
            .sub-info-bar
              .sub-title #{src}
              .comments
                span.comments
                  label
                      img(src="/images/icons/comments.png")
                  label.num #{val.comments}
                span.zan
                  label
                      img(src="/images/icons/zan.png")
                  label.num #{val.zan}



    include includes/bottom-menu
            



