extends layout

block content
.body-container
  .front-head
    li 关注
    li 更新
  .category-bar
    li 历史
    li 科幻
    li 冒险
    li 武侠
    li 言情
    li 历史
    li 历史
    li 科幻
    li 冒险
    li 武侠
    li 言情
    li 历史
  .story-container
    .story
      .info-bar
        .category-label
        .title
        .author
      .content
      .sub-info-bar
        .sub-title
        .comments

